doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    title アイゼンハワー・マトリクス
  body
    h1 アイゼンハワー・マトリクス
    h2 新規タスク
    form(method="post" action="/posts")
      div
        textarea(name="content", cols="40", rows="4")
      div
        button(type="submit") 追加